grant codeBase "file:///./-" {
  permission javax.security.auth.AuthPermission "doAs";
  permission javax.security.auth.AuthPermission "createLoginContext.Salaries";
  permission java.io.FilePermission "salaries.txt", "read";
  permission java.security.SecurityPermission "getPolicy";
};

